<div id="<%= dom_id category %>" class='category-card'>
  <div class="category-group">
    <img src="<%= asset_path(category.icon) %>" alt="Category Icon">
    <div class="category-info">
      <p class="category-name"><%= category.name %></p>

      <p class="category-date"><%= category.created_at.strftime("%d %B %Y") %></p>
    </div>
  </div>

  <p class="category-total-spent">$<%= category.expenses.sum(:amount) %></p>
</div>